@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope&display=swap");

:root {
  --pale-white: rgb(255, 247, 240);
  --custom-gray: rgb(122, 116, 110);
  --light-salmon: rgb(243, 158, 158);
  --sandy-brown: rgb(244, 165, 96);
  --purple: rgb(117, 92, 222);
  --salmon: rgb(235, 117, 101);
  --blueish-green: rgb(97, 196, 183);
  --dark-purple: rgb(85, 32, 73);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.125rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}
p { 
  color: var(--custom-gray);
}
main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  background-color: var(--pale-white);
}

.introduction {
  padding-top: 1rem;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -1px;
}
.presentation {
  display: flex;
  flex-flow: column;
}
.picture-container {
  width: 100%;
  padding-inline: 2.25rem;
  margin-top: 5.5rem;
  margin-bottom: 2rem;
}

.introduction > p {
  padding-top: 1rem;
  width: 77%;
  color: var(--custom-gray);
}

.index {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 1.4rem;
  column-gap: 1.5rem;
  padding-block: 1.575rem;
  padding-inline: 1.125rem;
}

.index__item {
  padding: 1.5rem;
  border-radius: 25px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: white;
  font-size: 25px;
}

.index__item > div {
  align-self: flex-end;
  padding-bottom: 1.5rem;
}

.index__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: var(--purple);
}

.index__item:nth-child(2) {
  background-color: var(--sandy-brown);
}

.index__item:nth-child(3) {
  background-color: var(--light-salmon);
}

.index__item:nth-child(4) {
  grid-column: 1 / 3;
  background-color: var(--salmon);
}

.index__item:nth-child(5) {
  grid-column: 1 / 3;
  background-color: var(--blueish-green);
}

.index__item:nth-child(6) {
  grid-column: 1 / 3;
  background-color: var(--dark-purple);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header > button {
  background-color: black;
  color: white;
  margin-top: 0.125rem;
  padding-block: 0.75rem;
}

.logo {
  width: 3rem;
  border-radius: 0px;
}

.presentation {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 1rem;
  margin-bottom: 6rem;
}

.presentation > button {
  margin-top: 0.125rem;
  color: white;
  background-color: var(--salmon);
}

.details {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slider {
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
  margin-block: 1.7rem;
  gap: 1rem;
  height: 11.5rem;
}

.slider-control {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.round-btn {
  background-color: black;
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 100%;
  cursor: pointer;
}

.btn {
  border-radius: 30px;
  border: none;
  font-size: 0.875rem;
  padding-inline: 1.875rem;
  font-weight: bold;
  height: 2.685rem;
  cursor: pointer;
}

.left {
  background-image: url(assets/icon-arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.right {
  background-image: url(assets/icon-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.carousel {
  margin-bottom: 6.2rem;
}

.panel {
  background-color: black;
  margin-inline: 1rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding-block: 3rem;
  margin-bottom: 1.775rem;
}

.panel > p {
  padding-inline: 2rem;
  padding-block: 1.275rem;
  line-height: 1.6;
  font-size: 16px;
}

.panel > div > button {
  color: white;
  background-color: var(--salmon);
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

footer > button {
  color: white;
  background-color: black;
}

img {
  border-radius: 10px;
}

@media (min-width: 768px) {
  main {
    width: 768px;
  }
  .header {
    padding: 2.25rem;
  }
  .btn {
    padding-inline: 2.76rem;
    height: 3.5rem;
    font-size: 16px;
  }
  .header > button {
    margin-right: 0.5rem;
  }
  .header > img {
    width: 64px;
  }
  h1 {
    font-size: 45px;
    padding-block: 0.775rem;
  }
  .introduction > p {
    width: 70%;
    padding-bottom: 1.75rem;
  }
  .index {
    padding: 2.25rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .index__item:nth-child(3) {
    background-color: var(--light-salmon);
  }
  .index__item:nth-child(4) {
    background-color: var(--blueish-green);
  }

  .index__item:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 2;
    background-color: var(--salmon);
  }
  .index__item:nth-child(6) {
    grid-column: 3 / 5;
  }
  .picture-container {
    align-self: flex-start;
    width: 50%;
    left: -110px;
    padding-left: 0;
    position: relative;
    margin: 0;
  }
  .details {
    flex-flow: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 8.5rem;
  }
  .presentation {
    width: 40%;
    margin: 0;
    left: -40px;
    position: relative;
    text-align: left;
    align-items: flex-start;
  }
  .slider {
    margin-top: 4rem;
    height: 22rem;
    margin-bottom: 3.8rem;
    gap: 1.5rem;
  }
  .slider-control {
    margin-bottom: 1.5rem;
  }
  .panel {
    margin-inline: 2.3rem;
    padding-bottom: 5rem;
  }
  .panel > p {
    font-size: 18px;
    padding-inline: 4rem;
  }
  footer {
    padding: 2.25rem;
  }
  footer > button {
    margin-right: 0.5rem;
  }
  .logo {
    width: 4rem;
  }
}

@media (min-width: 1300px) {
  main {
    width: 1440px;
  }

  .header {
    padding: 2.25rem;
    padding-inline: 10rem;
  }
  .btn {
    padding-inline: 2.76rem;
    height: 3.5rem;
    font-size: 16px;
  }
  .header > button {
    margin-right: 0.5rem;
  }
  .header > img {
    width: 64px;
  }
  h1 {
    font-size: 60px;
    padding-block: 0.775rem;
  }
  .introduction > p {
    width: 75%;
    padding-bottom: 1.75rem;
  }
  .index {
    padding-block: 2.25rem;
    padding-inline: 9.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .index__item { 
    border-radius: 10px;
  }
  .index__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .index__item:nth-child(3) {
    background-color: var(--light-salmon);
  }
  .index__item:nth-child(4) {
    grid-column: 5 / 7;
    background-color: var(--blueish-green);
  }

  .index__item:nth-child(5) {
    background-color: var(--salmon);
  }
  .index__item:nth-child(6) {
    grid-row: 2;
    grid-column: 5 / 7;
  }
  .picture-container {
    align-self: flex-start;
    width: 33%;
    margin-top: 1.5rem;
    margin-left: 9.5rem;
    position: relative;
  }
  .details {
    flex-flow: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 8.5rem;
  }
  .presentation {
    width: 40%;
    margin: 0;
    left: -20px;
    position: relative;
    text-align: left;
    align-items: flex-start;
  }
  .presentation > h2 {
    font-size: 40px;
    padding-right: 3rem;
    padding-bottom: 1rem;
  }
  .presentation > p {
    margin-bottom: 1rem;
  }
  .slider {
    margin-top: 1rem;
    height: 22rem;
    margin-bottom: 3.8rem;
    gap: 1.5rem;
  }
  .slider-control {
    margin-bottom: .125rem;
  }
  .panel {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-bottom: 3rem;
  }
  .panel > h2 {
    font-size: 50px;
    
  }
  .panel > p {
    text-align: left;
    font-size: 18px;
    padding-left: .3rem;
    padding-right: .1rem;
    grid-row: 2;
    color: white;
  }
  .panel > div {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 2;
    margin-left: 9rem;
  }
  footer {
    padding: 2.25rem;
    padding-inline: 10rem;
  }
  footer > button {
    margin-right: 0.5rem;
  }
  .logo {
    width: 4rem;
  }
}

/* CSS Resets */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
